body {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* head */
header {

    height: 808px;
    background-image: url('new-year-new-me-main/images/banner/banner1.png');
    background-size: cover;
}

.head {
    /* gap: 40px; */
    height: 808px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 2px solid lime; */

}

.half h2 {
    margin: 0px;
    color: #151414;

    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
}

.half {

    margin-right: 230px;
    width: 525px;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
    /* justify-content: center; */
    /* border: 2px solid red; */
}

.head_p {
    color: #444343;

    font-family: Work Sans;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px !important;
}

.half button {
    color: #FFF;

    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;

}

/* main-top */
.main-container {
    padding: 140px 230px 140px 230px;
    /* justify-content: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.top {
    /* border: 2px solid lime; */
    display: flex;
    align-items: center;
    gap: 74px;

}

.top_text {
    text-align: left;
    margin-top: 100px;
    width: 416px;
    /* border: 2px solid rgb(146, 255, 22); */
}

.top_text h2 {
    text-align: left;
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;

}

.top_text p {
    font-weight: 400;
}

.top_img {
    width: 569px;
    height: 666.5px;
}

.middle {
    margin-top: 150px;
    /* border: 2px solid red; */

}

.plan {
    justify-content: center;
    display: flex;
    gap: 99px;
    width: 100%;
    /* border: 2px solid rgb(64, 0, 255); */
}

.plans h3 {
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.plans p {
    color: var(--dark-03, #737272);
    text-align: center;

    font-size: auto;
    line-height: normal;
}

.plans img {
    /* mask-image: url('no'); */
    width: 92.958px;
    height: 92.958px;

}

.plans {
    /* position: relative; */

    width: 300px;
    height: auto;
    border-radius: 5px;
}

.middle h2 {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;

    font-weight: 700;

}

.plans:hover {

    box-shadow: 0px 0px 10px rgb(147, 146, 146);
}

.plans:hover img {
    /* box-shadow: 0px 0px 10px coral; */
    transition: transform .3s ease-in-out;
    transform: translateY(-60px) scale(1.5);
}

/* call */
.call_now {
    /* border: 2px solid lime; */
    text-align: left;
    margin: 59px 600px 59px 64px;
    color: #FFF;
    font-family: Work Sans;
}

.call_now button {
    width: 100px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: #F15B22;
    font-size: 20px;

}

.below {
    margin-top: 90px;
    /* border: 2px solid red; */
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url("new-year-new-me-main/images/watch.png");
    background-size: cover;
}